version: "3"

services:
  front:
    image: node:14.18.3
    build:
      dockerfile: Dockerfile.local.app
    tty: true
    # command: npm run dev
    # env_file:
    #   - ./src/app/env/.env.local
    environment:
      - HOST=0.0.0.0
    ports:
      - 3030:3000
    volumes:
      - ./src/app:/src/app

  # node:
  #   image: node:14.17.3
  #   ports:
  #     - "3030:3000"
  #   # ホストOSからアクセスできるように
  #   environment:
  #     - HOST=0.0.0.0
  #   volumes:
  #     - ./client/var/www:/var/www:cached
  #   working_dir: /var/www/project
  #   tty: true
  #   depends_on:
  #     - go
  #     - mysql